################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/php/FileContentIndex/6769d2fc-6271-49a7-badb-49ea3987ffcc.vsidx
